@model DominionCardTracker.Models.Tables.CardSet

@{
    ViewBag.Title = "Delete";
}

<div class="row">
    @using (Html.BeginForm("Delete", "CardSet", FormMethod.Post, new {@class = "span4"}))
    {
        @Html.HiddenFor(m=>m.CardSetID)
        <label>Delete the card set @Model.CardSetName?</label>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Delete</button>
                @Html.ActionLink("Cancel", "Index", "CardSet", null, new{@class="btn"})
            </div>
    }

</div>
